<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <style>
        body {
            display:flex;
            justify-content: center;
            height: 100vh;
        }
        
        .card {
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-lock">
                        
                    </i> Connexion administrateur
                </h4>
            </div>
            <div class="card-body">
                {% if hasError %}
                    <div class="alert alert-danger"> 
                        <p>Les informations que vous avez forunies ne sont pas bonne.</p>
                    </div>
                {% endif %}
                <form method="POST">
                    <div class="form-group">
                        <label for="_username">Email</label>
                        <input type="text" class="form-control" palceholder="Adresse Email ..." name="_username" value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <label for="_password">Mot de passe</label>
                        <input type="password" class="form-control" palceholder="Mot de passe ..." name="_password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning" type="submit">
                            <i class="fas fa-lock-open">
                                Connexion
                            </i>
                        </button>
                        <a href="{{ path('homepage') }}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left">
                                Retour à l'accueil
                            </i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>