body {
    background: #bfc6cf;
}

div.container {
    margin-top: 20px;
}

div.ad-title {
    padding: 2rem;
    background-size: cover;
    background-position: center center;
}


div.ad-title h1, div.ad-title p {
    color: antiquewhite;
    text-shadow: 3px 3px 3px rgba(13, 12, 12, 0.5)
}

div.ad-title .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(14, 13, 13, 0.5)
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%
}

.avatar-mini {
    max-width: 32px;
    max-height: 32px;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: #dc143c !important;
}

.rating {
    color: #e7e70c !important;
}

.alert a, .card-title a
{
    text-decoration: none;
}

.alert .btn {
    color: white;
}

@media screen and (max-width: 499px) {
    .display-3 {
        font-size: 3rem;
    }
}