{% extends 'base.html.twig' %}

{% block title %}Les annonces sur {% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Nos annonces de locations chez nos membres</h1>
    <div class="row">
        {% for ad in ads %}
            {% include 'ad/_ad.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}